@import './base.css';
@import './footer.css';
@import './form.css';
@import './header.css';
@import './resets.css';


body {
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    background-color: #99d98c;
}