<!DOCTYPE html>
<html lang="en" dir="ltr">

    <head>
        <meta charset="utf-8">
        <title>Test</title> 
    </head>

    <body>

        <header>
            <div id="logo" class="">
                Sentiment Analysis
            </div>
            <div id="navigation" class="">
                Navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return false">
                    <input id="name" type="text" name="input" value="" placeholder="Name">
                    <input type="submit" id="submit-button" name="" value="Submit">
                </form>
            </section>

            <section>
                <form class="" onsubmit="return false">
                    <input id="sentence" type="text" name="input-2" value="" placeholder="Sentence...">
                    <input type="submit" id="submit-button-2" name="" value="Submit">
                </form>
            </section>

            <section>
                <strong><p id= 'results'>Form Results:</p></strong>
                <div id="results"><p id= "juanito"></p></div>
            </section>
        </main>

        <footer>
            <p id='footer'>This is a footer</p>
        </footer>
        <script>
            // Check that service workers are supported
            /*if ('serviceWorker' in navigator) {
                // Use the window load event to keep the page load performant
                window.addEventListener('load', () => {
                    navigator.serviceWorker.register('/service-worker.js');
                });
            }*/
           </script>
    </body>
</html>
